.mainSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentBox{
    background-color: #1e83ec;
    align-items: center;
    text-align: center;
    width: 84%;
    padding-bottom: 2%;
    border-radius: 0%;
    border: 2px solid black;
    padding-left: 1em;
}
#aboutHeading{
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contentBox h1{
    font-size: 2.5em;
    color: #fcfcfc;
    text-align: center;
}
/* .contentBox p{
    font-size: 1,2rem;
    margin: 1em o;
    color: white;
    font-family: 'Poppins', sans-serif;;
} */
#aboutPara{
    color: white;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.btnBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
#aboutUsBox{background-color: #1e83ec;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-bottom: 2%;
    
    border: 2px solid black;
    padding-left: 1em;}
    
.btn{
    border: 2px solid transparent;
    border-radius: 2em;
    background-image: linear-gradient(#fff,#fff), 
    radial-gradient(circle at bottom right, rgb(0, 195, 255), rgb(0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
}
 .readMore{
    display: inline-block;
    font-size: 1.2rem;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #301934;
} 

/* #journeyBtn{
    border: 2px solid transparent;
    border-radius: 2em;
    background-image: linear-gradient(#fff,#fff), 
    radial-gradient(circle at bottom right, rgb(8, 106, 252), rgb(255, 255, 254));
    background-origin: border-box;
    background-clip: content-box, border-box;
} */
.imageContainer{
    width: 50%;
}
.imageContainer img{
    width: 90%;
    margin:0 auto;
    display: block;

}

#imgAbout{
    width: 500px;
    margin-top: 2%;
    height: 240px;
}
@media screen and(max-width:900px){
    html{
        font-size: 14px;
    }
} 
@media screen and(max-width:768px){
    html{
        font-size: 14px;
    }
    .mainSection{
        flex-direction: column;
        margin-top: 1em;
} 
.contentBox{
    width: 90%;
    margin: 0 auto;
}
.contentBox h1{
    font-size: 2rem;
}
.contentBox p{
    font-size: 1,1rem;
    
}
.imageContainer{
    width: 80%;
}
}
@media screen and(max-width:400px){
    .imageContainer{
        width: 60%;
    }
}